<div class="row-md-2 p-3">
    <button class="btn fs-3 hover" routerLink="/patient/cita"> <i class="fa-solid fa-arrow-left"></i> Volver</button>
</div>
<div class="row">
    <div class="col-5 offset-1">
        <div class="row  bg-black">
            <div class="col-4 text-light">
                <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/414850126_407251714969818_7350880059826478217_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=mGzQKTe_oaQQ7kNvgHnhY2y&_nc_zt=23&_nc_ht=scontent-lim1-1.xx&_nc_gid=AbyMQNGM9CAo6rKemP6W0TW&oh=00_AYCEiKoGAzxZEz-HufBnroFbJQs40nSp2_QAs3N_h5h-Ag&oe=6737D7D0" class="img-thumbnail small-thumbnail rounded-circle" >
            </div>
            <div class="col-8 text-light p-3">
                <h5 class="text-break">{{clinica.name}}</h5>
            </div>
        </div>   
        <div class="row bg-black">
            <h5 class=" text-white-50 fw-light">Consultorio</h5>
        </div>
        <div class="row">
            <p  class="p-3 fs-5">{{clinica.desc}}</p>
        </div>
        <div class="row bg-black">
                        <h5 class="fs-3 text-light">Acerca de: </h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> {{clinica.address}}</h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> {{clinica.email}}</h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-phone" style="color: #ffffff;"></i> {{clinica.telf}}</h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i> {{clinica.openDays}}</h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-clock" style="color: #ffffff;"></i> {{clinica.openHour}} - {{clinica.closeHour}}</h5>
        </div>
    </div> 

    <div class="col-4  offset-1">
        <div class="row">
            <div class="d-flex p-2" role="search">
                <select class="form-select rounded-pill border border-3 p-2" [(ngModel)]="searchQuery" (ngModelChange)="onSearch()">
                    <option value="" selected>Ciclo de estudios</option>
                    <option *ngFor="let cycle of cycles" [value]="cycle">{{ cycle }}</option>
                </select>
                <button class="btn-close" (click)="clearFilter()"></button>
            </div>
        </div>
        <div class="container">
            <div class="row" *ngFor="let dentist of filterDentist" >


                    <button class="btn btn-outline-dark text-start fs-5 m-2 d-flex flex-column align-items-center text-center" (click)="DentistDetails(dentist.userId)"><img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/414850126_407251714969818_7350880059826478217_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=mGzQKTe_oaQQ7kNvgHnhY2y&_nc_zt=23&_nc_ht=scontent-lim1-1.xx&_nc_gid=AbyMQNGM9CAo6rKemP6W0TW&oh=00_AYCEiKoGAzxZEz-HufBnroFbJQs40nSp2_QAs3N_h5h-Ag&oe=6737D7D0" 
                        class="img-thumbnail small-thumbnail rounded-circle" >
                        <span> {{dentist.name}} {{dentist.lastname}}</span></button>
            </div>
        </div>
    </div>
</div>

