<div class="row-md-2 p-3">
    <button class="btn fs-3 hover" routerLink="/patient/cita"> <i class="fa-solid fa-arrow-left"></i> Volver</button>
</div>
<div class="row">
    <div class="col-5 offset-1">
        <div class="row  bg-black">
            <div class="col-4 text-light">
                <img src="https://i.imgur.com/m0gM5xy.jpeg" class="img-thumbnail small-thumbnail rounded-circle" >
            </div>
            <div class="col-8 text-light p-3">
                <h5 class="text-break">{{clinica.name}}</h5>
            </div>
        </div>   
        <div class="row bg-black">
            <h5 class=" text-white-50 fw-light">Consultorio</h5>
        </div>
        <div class="row">
            <p  class="p-3 fs-5">{{clinica.desc}}</p>
        </div>
        <div class="row bg-black">
                        <h5 class="fs-3 text-light">Acerca de: </h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> {{clinica.address}}</h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> {{clinica.email}}</h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-phone" style="color: #ffffff;"></i> {{clinica.telf}}</h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i> {{clinica.openDays}}</h5>
                        <h5 class=" text-white-50 fw-light p-3 text-break"><i class="fa-solid fa-clock" style="color: #ffffff;"></i> {{clinica.openHour}} - {{clinica.closeHour}}</h5>
        </div>
    </div> 

    <div class="col-4  offset-1">
        <div class="row">
            <div class="d-flex p-2" role="search">
                <select class="form-select rounded-pill border border-3 p-2" [(ngModel)]="searchQuery" (ngModelChange)="onSearch()">
                    <option value="" selected>Ciclo de estudios</option>
                    <option *ngFor="let cycle of cycles" [value]="cycle">{{ cycle }}</option>
                </select>
                <button class="btn-close" (click)="clearFilter()"></button>
            </div>
        </div>
        <div class="container">
            
            <div class="row">
                <button 
                  class="btn btn-outline-dark text-start fs-5 m-2 d-flex flex-column align-items-center text-center" 
                  *ngFor="let dentist of filterDentist" 
                  (click)="DentistDetails(dentist.userId)">
                  <img 
                    [src]="dentist.image ?? 'https://i.imgur.com/m0gM5xy.jpeg'" 
                    alt="Profile Image" 
                    class="img-thumbnail rounded-pill small-thumbnail">
                  <span>{{dentist.name}} {{dentist.lastname}}</span>
                </button>
              </div>
        </div>
    </div>
</div>

