<div class="container profile-container mt-5 ">
    <div class="card profile-card p-5 shadow-sm bg-dark rounded-2 ">
        <div class="row align-items-center">
            <div class="col-md-2 text-center">
                <img src="path-to-avatar" alt="Avatar" class="rounded-circle img-fluid profile-avatar mb-3">
            </div>
            <div class="col-md-10">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <h2 class="mb-0 text-light fw-medium fs-2">Joseph Alonso Guevara Gutierrez</h2>
                        <p class="mb-2 text-light fw-light">Odontólogo Profesional</p>
                    </div>
                    <div class="col-2 align-self-end">
                        <button type="button" class="btn btn-outline-light align-self-end">Editar perfil<i class="fa-regular fa-pen-to-square ms-3"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-evenly">
        <div class="col-4 about-container mt-5">
            <div class="card about-card p-4 text-light shadow-sm bg-dark rounded-3">
                <div class="row mt-4">
                    <div class="col">
                        <h5>Sobre mí</h5>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-user me-3"></i>Masculino</li>
                            <li><i class="fas fa-cake-candles me-3"></i>Junio 26, 1980</li>
                            <li><i class="fas fa-location-dot me-3"></i>Privada Antenor Orrego</li>
                            <li><i class="fas fa-envelope me-3"></i>charles123&#64;ummoh.com</li>
                            <li><i class="fas fa-phone me-3"></i>33757005467</li>
                            <li><i class="fas fa-clock me-3"></i>3pm - 7pm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 description-container mt-5">
            <div class="card description-card p-4 shadow-sm border-2 rounded-3">
                <div class="row mt-4">
                    <div class="col">
                        <h5>Descripción</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dapibus metus iaculis varius
                            vehicula
                            nostra
                            justo litora luctus bibendum eget.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>