<div class="container-fluid fondo">
    <div class="dente">
        <div class="row">
            <div class="col-md-8">
                <h1>Smile 
                   <strong>App</strong> </h1>
            </div>
            <div class="col-md-4">
                <img src="muela.png"/>
            </div>
        </div>
        <div class="row">
            <h2>Te estas registrando como ESTUDIANTE</h2>
            <p>Crea tu cuenta para que puedas ingresar a la plataforma</p>
        </div>
        <div class="row">
            <button class="btn btn-outline-dark" routerLink="/auth/login"> Iniciar Sesion</button>
        </div>
    </div>
</div>
