.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.profile-card {
  background-color: #757575;
  color: #ecf0f1;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form-container {
  background-color: #585858;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  strong {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      border: 2px solid rgb(255, 255, 255);
      background-color: #5c5c5c;
      color: white;
    }
  }
}


.map-container {
  height: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .foto img {
    max-width: 100%;
  }
}