
  <div class="text-center my-4 p-2 card profile-card shadow-sm bg-dark rounded-2">
    <h2 class="text-light fs-3">Centro Odontológico</h2>
  </div>

  <div class="row">
    <div class="col-10 col-md-10 col-xl-7">
      <form [formGroup]="clinicForm" class="shadow-sm p-5 text-light bg-dark rounded-2">
        
        <!-- Campo para Nombre -->
        <div class="form-group mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" id="name" placeholder="Nombre de su centro de trabajo" class="form-control" formControlName="name" [readonly]="!isEditMode">
          <div *ngIf="clinicForm.get('name')?.invalid && (clinicForm.get('name')?.dirty || clinicForm.get('name')?.touched)">
           
            <small class="text-danger">{{ getErrorMessage('name') }}</small>
          </div>
        </div>

        <!-- Campo para Dirección -->
        <div class="form-group mb-3">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" id="address" placeholder="Dirección de su centro de trabajo" class="form-control" formControlName="address" [readonly]="!isEditMode">
          <div *ngIf="clinicForm.get('address')?.invalid && clinicForm.get('address')?.touched">
            <small class="text-danger">{{ getErrorMessage('address') }}</small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <label for="latitude" class="form-label">Latitud</label>
              <input type="text" id="latitude" class="form-control" placeholder="{{ latitude }}" formControlName="latitude">
              <div *ngIf="clinicForm.get('latitude')?.invalid && clinicForm.get('latitude')?.touched">
                <small class="text-danger">{{ getErrorMessage('latitude') }}</small>
              </div>
            </div>
    
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="longitude" class="form-label">Longitud</label>
              <input type="text" id="longitude" class="form-control" placeholder="{{ longitude }}" formControlName="longitude">
              <div *ngIf="clinicForm.get('longitude')?.invalid && clinicForm.get('longitude')?.touched">
                <small class="text-danger">{{ getErrorMessage('longitude') }}</small>
              </div>
            </div>
          </div>
        </div>
       
        <!-- Campo para Teléfono -->
        <div class="form-group mb-3">
          <label for="telf" class="form-label">Teléfono</label>
          <input type="tel" id="telf" placeholder="Número de su centro de trabajo" class="form-control" formControlName="telf" [readonly]="!isEditMode">
          <div  class="alert alert-danger mt-2" *ngIf="clinicForm.get('telf')?.invalid && (clinicForm.get('telf')?.dirty || clinicForm.get('telf')?.touched)">
                <span *ngIf="clinicForm.get('telf')?.errors?.['required']">
                  El telefono es obligatorio.
                </span>
                <span *ngIf="clinicForm.get('telf')?.errors?.['minlength'] || clinicForm.get('dni')?.errors?.['maxlength']">
                  Su telefono no puede ser menor a 9 o mayor a 15 digitos.
                </span>
                <span *ngIf="clinicForm.get('telf')?.errors?.['pattern']">
                  Introduzca un telefono válido.
                </span>
          </div>
         
        </div>

        <!-- Campo para Email -->
        <div class="form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" placeholder="ejemplo@dominio.dominio" class="form-control" formControlName="email" [readonly]="!isEditMode">
          <div *ngIf="clinicForm.get('email')?.invalid && clinicForm.get('email')?.touched">
            <small class="text-danger">{{ getErrorMessage('email') }}</small>
          </div>
        </div>


        <!-- Campo para Descripción -->
        <div class="form-group mb-3">
          <label for="desc" class="form-label">Descripción</label>
          <textarea id="desc" class="form-control" rows="3" placeholder="Cuéntale a los pacientes, ¿Como es tu centro de trabajo?" formControlName="desc"></textarea>
          <div *ngIf="clinicForm.get('desc')?.invalid && clinicForm.get('desc')?.touched">
            <small class="text-danger">{{ getErrorMessage('desc') }}</small>
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">Días de Apertura</label>
          <div formArrayName="openDays" class="container text-center d-flex flex-wrap gap-2">
            <div *ngFor="let day of daysOfWeek; let i = index" class="form-check form-check-inline">
              <!-- Checkbox para cada día -->
              <input type="checkbox" class="btn-check" [formControlName]="i" [id]="'day' + i">
              <label class="btn btn-outline-light" [for]="'day' + i">{{ day.label }}</label>
            </div>
          </div>
        </div>

        <div class="row justify-content-evenly">
          <div class="col-4">
            <div class="form-group mb-3">
              <label for="openHour" class="form-label">Hora de Apertura</label>
              <input type="time" id="openHour" class="form-control" formControlName="openHour" [disabled]="!isEditMode">
              <div *ngIf="clinicForm.get('openHour')?.invalid && clinicForm.get('openHour')?.touched">
                <small class="text-danger">{{ getErrorMessage('openHour') }}</small>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group mb-3">
              <label for="closeHour" class="form-label">Hora de Cierre</label>
              <input type="time" id="closeHour" class="form-control" formControlName="closeHour" [disabled]="!isEditMode">
              <div *ngIf="clinicForm.get('closeHour')?.invalid && clinicForm.get('closeHour')?.touched">
                <small class="text-danger">{{ getErrorMessage('closeHour') }}</small>
              </div>
            </div> 
          </div>
        </div> 
        
        <div class="container text-center">
          <button class="btn btn-outline-light px-5 btn-lg mt-4" (click)="onSubmit()"[disabled]="clinicForm.invalid" >
            Guardar
          </button>
        </div> 
      </form>
    </div>
    <div class="col-2 col-md-2 col-xl-5">
      <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
        <i class="fa-solid fa-location-dot"></i>
      </button>

      <div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Ubicación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body row">
          <h2 class="text-center"> Seleccione la ubicacion de su clinica:
          </h2>
          <div id="map" style="width: 100%; height: 400px;"></div>    
        </div>
  </div>
  </div>
