.fondo{
    background: linear-gradient(143deg, #FFF 8.54%, #444040 52.84%, #000 115.2%);
    min-height: 100vh;
    text-align: center;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tipd{
    display: flex;
    max-width: 442px;
    min-height: 550px;
    padding: 84px 87px;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tipd p{
    font-size: 20px;
    color: #444040;
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
}