
.btn-outline-light {
    color: #ffffff;
    border-color: #ffffff;
    transition: color 0.3s, border-color 0.3s;
  }


  .btn-outline-light:hover {
    color: #000000;
    border-color: #000000;
  }
  .hover:hover
  {
      background-color: black;
      color: white;
  }