.fondo{
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ini{
    display: flex;
    max-width: 650px;
    min-height: 550px;
    padding: 40px 87px;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ini p{
    font-size: 20px;
    color: #444040;
}