<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2 bg-dark text-light d-flex flex-column align-items-center py-4">
            <button class="btn w-100 mb-3 text-light" [ngClass]="{'active-btn': isActive('profile')}"
                routerLink="/dentist/profile">
                <i class="fa-regular fa-user d-block mb-2"></i>
                <span>Cuenta</span>
            </button>

            <button class="btn w-100 mb-3 text-light" [ngClass]="{'active-btn': isActive('')}" routerLink="">
                <i class="fa-regular fa-file-alt d-block mb-2"></i>
                <span>Documentos</span>
            </button>

            <button class="btn w-100 mb-3 text-light" [ngClass]="{'active-btn': isActive('')}" routerLink="">
                <i class="fa-regular fa-calendar-check d-block mb-2"></i>
                <span>Agenda</span>
            </button>

            <!-- Mostrar Consultorio para Estudiantes o Profesionales -->
            <button class="btn w-100 mb-3 text-light"
                [ngClass]="{'active-btn': isActive(isStudent ? 'upao-info' : 'add-clinic')}"
                [routerLink]="isStudent ? 'upao-info' : 'add-clinic'">
                <i class="fa-regular fa-hospital d-block mb-2"></i>
                <span>Consultorio</span>
            </button>

            <div class="row p-0 text-light">
                <button class="btn" (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket fa-rotate-180" style="color: #ffffff;"></i>
                </button>
            </div>
        </div>

        <div class="col-md-10 bg-light p-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>