<div class="container-fluid fondo">
    <div class="tip">
        <div class="row">
            <div class="col-md-8">
                <h1>Smile 
                   <strong>App</strong> </h1>
            </div>
            <div class="col-md-4">
                <img src="muela.png"/>
            </div>
        </div>
        <div class="row">

            <h2>Registrate</h2>
            <p>Elije el tipo de cuenta que deseas DENTISTA o PACIENTE</p>
            <button class="btn btn-outline-dark" routerLink="/auth/type-acount/type-dentist"> Dentista</button>
            <button class="btn btn-outline-dark" routerLink="/auth/type-acount/register-patient"> Paciente</button>

        </div>
        <div class="row">
            <button class="btn btn-outline-dark" routerLink="/auth/login"> Iniciar Sesion</button>
        </div>
    </div>
</div>
